html {
	background: #9e3d91;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


/*Hide scrollbar*/
body, html {
    /*Preventing illegal scrollbar styling whatever...*/
    scrollbar-face-color: ThreeDFace !important;
    scrollbar-shadow-color: ThreeDDarkShadow !important;
    scrollbar-highlight-color: ThreeDHighlight !important;
    scrollbar-3dlight-color: ThreeDLightShadow !important;
    scrollbar-darkshadow-color: ThreeDDarkShadow !important;
    scrollbar-track-color: Scrollbar !important;
    scrollbar-arrow-color: ButtonText !important;
    /*Hiding the scrollbars on the html and body*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*Hiding the scrollbars on the html and body*/
.body, html::-webkit-scrollbar {
	display: none;
}


input[type="button"] {
	font-family: fantasy;
	background: transparent;
	text-align: center;
	border: none;
}

input:focus {
	outline: none;
}

a {
	text-decoration: none;
}

/*All tables are center unless otherwise
*/
table.centerTable {
	margin-left: auto;
	margin-right: auto;
}


.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 30vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wordmarkLogo {
	height: 5vh;
	padding: 2vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1vh;
}

.motto {
	font-size: 4vh;
	color: #d894ff;
	padding-bottom: 12vh;
}

.categoryImage {
	height: 12vh;
}

.catchyText {
	color: #fff;
	font-style: italic;
	font-size: 5vh;
	font-family: sans-serif;
	text-shadow: 0vh 0vh 2vh #e0b0ff;
}

.hudText {
	color: #fff;
	font-weight: bold;
	font-size: 4vh;
	font-family: cursive;
	text-shadow: 0vh 0vh 2vh #e0b0ff;
}

.categoryImageContainer {
	border: solid 1px rgb(171, 17, 185);
	border-radius: 5%;
	background-image: transparent;
	display: inline-block;
	height: 14vh;
	width: 14vh;
	padding: 2vh;
	margin-left: 2vh;
	margin-right: 2vh;
	user-select: none;
	cursor: pointer;
}

.categoryImageContainerContainer {
	width: 100%;
	background-image: linear-gradient(to right, #f247c5aa, #00000000, #e0b0ffaa);
	padding-top: 2vh;
}

.categoryImageContainer:hover {
	background: #e0b0ff88;
}

.categoryImageContainer:active {
	background: #e0b0ffff;
}

.linkButtons {
	border: solid 1px #f247c5ff;
	border-radius: 1vh;
	padding: 0.7vh;
	background: #f247c512;
	user-select: none;
	cursor: pointer;
}

.linkButtons:hover {
	background: #f247c588;
}

.linkButtons:active {
	background: #f247c5ff;
}

.linkButtons a {
	color: #900090;
	font-size: 2.5vh;
	text-decoration: none;
	font-family: sans-serif;
}

#cartContainer {
	position: fixed;
	top: 20vh;
	right: 1vw;
	z-index: 9vh;
	user-select: none;
	cursor: pointer;
}

#cart {
	height: 7vh;
	width: 7vh;
}

#cartCount {
	font-size: 2.3vh;
	color: #e0b0ff;
	background: transparent;
	border: none;
}

.pageHeading {
	color: #a8ebffff;
	font-size: 2.7vh;
	text-align: center;
}

.tab {
	display: none;
	height: 90vh;
	width: 99vw;
}

.scrollableDiv {
    white-space: normal;
    color: #f0f;
    font-size: 3vh;
    display: flex;
    width: 94vw;
    height: 56vh;
	margin-left: auto;
	margin-right: auto;
    border: solid 1px #f0f;
    border-radius: 2vh;
    text-align: left;
    margin-top: 2vh;
    padding: 1vh;
    overflow: scroll;
    /*Scrollbar customization*/
    /*Microsoft*/
    scrollbar-3dlight-color: #e0b0ff;
    scrollbar-arrow-color: #f0f;
    scrollbar-darkshadow-color: #f0f;
    /*scrollbar-base-color: ;
    scrollbar-face-color: ;
    scrollbar-highlight-color: ;
    scrollbar-shadow-color: ;*/

    /*Firefox(Gecko)*/
    scrollbar-color: #f0f;
    scrollbar-width: 8px;
}
.scrollableDiv::-webkit-scrollbar {
	width: 5px;
}

.scrollableDiv::-webkit-scrollbar-track {
	background: #ff6af340;
}

.scrollableDiv::-webkit-scrollbar-thumb {
	background-color: #ff6af3;
	border-radius: 12px;
	border: none;
}

.bodyWidescrollableDiv {
	width: 93vw;
	height: 65vh;
}

.bodyWideProductsContainer {
    width: 94%;
    display: table;
    padding: 1vh;
}

.productsContainer {
    width: 94%;
    display: table;
    padding: 1vh;
}

.tabsHeader {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width:92vw;
	border: solid 1px #ff00ff;
	border-radius: 2vh;
	margin-top: 1vh;
	margin-bottom: 2vh;
}

.tabButton {
    font-size: 3vh;
    color: #f0f;
    text-align: center;
    padding: 2vh 4vw;
    user-select: none;
    cursor: pointer;
}

.tabButton input {
	color: #ff58ffff;
	font-size: 3vh;
}


.tabButton:hover {
    background-color: #e0b0ff50;
}

.tabButton:active {
    background-color: #e0b0ff;
}

.firstTabButton {
    border-right: solid 1px #f0f;
}

.lastTabButton {
    border-left: solid 1px #f0f;
}

.tabButtonActive {
    background-color: #e0b0ff90;
    box-shadow: 0vh 0vh 4vh 0.5vh #e0b0ff;
}

.getMoreProductsButton {
	display: none;
	color: white;
	border: double 1px white;
	border-radius: 2vh;
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.product {
	display: inline-table;
	border: solid 1px #ff00ff;
	height: 20vh;
	width: 20vh;
	margin: 2vh;
	border-radius: 2vh;
}

.product img {
	height: 20vh;
	width: 20vh;
	min-width: 100%;
	object-fit: cover;
	border-bottom: solid 1px #f0f;
	border-top-right-radius: 2vh;
	border-top-left-radius: 2vh;
}

.product text {
	font-size: 2vh;
	color: #a8ebff;
	max-width: 80%;
}

.product b {
	font-size: 2.3vh;
	color: #b7a0ff;
	max-width: 80%;
}

.product input[type="button"] {
	border-top: solid 1px #f0f;
	font-size: 2.7vh;
	padding: 1vh;
	color: #e0b0ff;
	width: 100%;
	background: #e0b0ff20;
	border-bottom-right-radius: 2vh;
	border-bottom-left-radius: 2vh;
}

.product input[type="button"]:hover {
	background: #e0b0ff80;
}

.product input[type="button"]:active {
	background: #e0b0ffff;
}

.productRow {
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.buttons {
	border: solid 1px #ff00ffff;
	border-radius: 2vh;
	background: #e0b0ff40;
	text-align: center;
	padding: 1vh 2vh;
}

.buttons:hover {
	background: #e0b0ff80;
}

.buttons:active {
	background: #e0b0ffff;
}

.buttons input {
	font-size: 3vh;
	color: #fff;
}

.textInput {
	font-size: 2.8vh;
	color: #ffffff99;
	background: transparent;
	border: solid 1px #fff;
	border-radius: 2vh;
	padding: 1vh 2vh;
	margin-bottom: 2vh;
}

.textInput::placeholder {
	color: #ffffff60;
}

.textInput:-ms-input-placeholder {
	color: #ffffff60;
}

.textInput::-ms-input-placeholder {
	color: #ffffff60;
}

.textInput:focus {
	color: #fff;
	outline: solid 1px #fff;
}

.detailsTable {
	margin-top: 8vh;
	margin-bottom: 14vh;
}

.halfPageDiv {
	width: 50vw;
	display: inline-block;
}

.detailsHalfDiv {
	background-image: linear-gradient(to right, #ff00ff40, #e0b0ff40);
	padding: 2vh;
	border-radius: 4vh;
	border: solid 1px #fff;
}

/*Chrome, Safari, Edge, Opera
*/
.textInput::-webkit-outer-spin-button,
.textInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*Firefox
*/
.textInput {
	-moz-appearance: textfield;
}

#productsContainerContainer {
	display: table;
	width: 100%;
}

#productsContainerContainer table {
	display: inline-table;
	float: left;
}

#profileInfoContainer {
	display: none;
	float: right;
	cursor: pointer;
	user-select: none;
}

#profileInfoContainer div {
	float: right;
	text-align: right;
}

#profileInfoContainer img {
	height: 8vh;
	width: 8vh;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#profileInfoContainer b {
	color: wheat;
	font-size: 3.5vh;
	margin: 0vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	user-select: none;
}

#profilePic {
	height: 40vh;
	width: 40vh;
	border: solid 1px white;
	background-color: #e0b0ff80;
	border-radius: 50%;
	object-fit: cover;
	display: block;
	margin: 2vh;
	margin-left: auto;
	margin-right: auto;
}

#edit-save-button {
	padding: 1vh 6vw;
	border: solid 1px #f0f;
	color: #fff;
}

#selectImage {
	display: none;
}

#orderHtml {
	background: black;
}

#removeOrderButton, #removeOrderRetainProductsButton {
	display: table;
}

#animationDiv {
	background: #00000099;
	display: none;
	text-align: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

#animationDiv div {
	display: table-cell;
	vertical-align: middle;
}

.animationText {
	color: #900090;
	text-shadow: 0vh 0vh 2vh 2vh #e0b0ff;
	font-style: italic;
	font-size: 5vh;
}

.animTextWhite {
	color: #fff;
	text-shadow: 0vh 0vh 4vh #f0f;
	font-style: italic;
	font-size: 5vh;
	white-space: pre;
}